<div th:replace="fragment/header::header"></div>		
		<div class="row m-1 rounded" style="background-color: green" th:if="${product}!=null">
		<div class="card m-auto my-3 rounded" style="width: 18rem;" th:each="product : ${product}">
			<img class="card-img-top" alt="shoes">
			<div class="card-body">
				<h3 class="card-title text-center" th:text="${product.titre}"></h3>
				<p class="card-text" th:text="${product.description}"></p>
				<div class="d-flex flex-row justify-content-around">
					<h5 class="card-text" th:text="${product.prix}"></h5>
					<a th:href=@{/solo-product} class="btn btn-primary">Voir</a>
				</div>
				<!-- <div>
					<a th:href="@{/update/{id}(id=${product.id})}"
						class="btn btn-primary"><i class="bi bi-pen text-primary"></i></a>

					<button type="button" class="btn" data-bs-toggle="modal"
						th:attr="data-bs-target='#exampleModal' + *{product.id}">
						<i class="bi bi-trash3 text-danger"></i>
					</button>
				</div> -->
			</div>
		</div>
</div>

		<!--********* MODAL ********-->
		<!--<div class="modal fade" th:id="'exampleModal' + *{product.id}"
			tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Attention
							!</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">Etes vous sûr de vouloir supprimer
						definitivement cet article ?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Annuler</button>
						<a th:href="@{/delete/{id}(id=${product.id})}">
							<button type="button" class="btn btn-danger">Supprimer</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>-->


	<div th:replace="fragment/footer::footer"></div>